/***/

/*Header*/

.hero {
    background-color: #43B02A;
}

h1 {
    text-decoration: none;
    color: white;
}

/***/

/*Content*/

.blog-container {
    display: flex;
}

.blog-content h2 {
    color: #43B02A;
}

.blog-content {
    flex: 3;
}

.filter-container {
    flex: 3;
}

.container.dark-background {
    padding-top: 50px;
    margin-top: 0;
    color: #6F757A;
}

a {
    text-decoration: none;
}

.share-container {
    border-top-style: solid;
    border-top-width: 1px;
}

.share-container h3 {
    color: #4d555a;
}

.share-container .social-icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

/***/

/*Search / Archive / Support Sidepane*/

.blog-filter {
    flex: 1;
    background-color: #6f757a;
    margin: 0 20px 20px 0px;
    padding: 20px;
    color: white;
    line-height: 30px;
    height: 100%;
}

.search-bar-container {
  width: 100%;
}

.search-bar-container #___gcse_1 {
  width: 100%;
}

.search-bar-container #___gcse_2 {
  width: 100%;
}

.blog-filter .gsc-input-box {
  height: 100%;
  border-color: white !important;
  border-radius: 0px;
}

.blog-filter .gsc-search-box {
  height: 50px;
}

.filter-container-mobile {
    display: none;
}

.filter-section {
  margin: 10px;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: #939bA1;
  padding-bottom: 20px;
}

.filter-section .gsc-input {
  height: 100%;
  padding-right: 0px !important;
}

.archive-link-container {
  justify-content: space-around;
  text-decoration: underline;
  color: white;
  display: flex;
}

.archive-link-container a {
  color: white;
}

.search-container {
  display: flex;
}

.pagination-container {
    display: flex;
    justify-content: space-between;
}

.learn-more.button-container {
  justify-content: flex-start;
}

.filter-section:last-child {
  border-bottom: none;
}

.links-container {
    justify-content: space-around;
    text-decoration: underline;
    display: flex;
}

/***/

/*Buttons*/

.button.page-button {
    border-color: #43B02A;
    color: #43B02A;
    font-family: "Encode Sans", sans-serif;
    weight: 400;
}

.button.support-button {
    border-color: white;
    color: white;
}

.button.page-button:hover {
    color: #fff;
    background-color: #43B02A;
}

.button.support-button:hover {
  color: #6f757a;
}

/***/

/*Sponsors*/

.backers {
  margin: 0 20px;
  border-bottom: 1px solid rgb(148, 156, 161);
  padding-bottom: 50px;
}

.selenium-backers.separator {
  padding-bottom: 25px;
}

img {
    max-width: 100%;
}

/* Mobile-only styles */
@media only screen and (max-width: 768px) {
  .blog-container{
    flex-direction: column;
    justify-content: space-around;
  }

  .blog-filter{
    padding: 20px;
    margin: 0px 20px 20px 20px;
    border-top: solid;
    border-top-width: 1px;
    border-top-color: #939bA1;
  }

  .container.dark-background {
    margin-top: 10px;
  }

  .filter-container {
      display: none;
  }

  .filter-container-mobile {
      display: initial;
  }

  .filter-toggle-container {
    display: none;
  }

  .filter-toggle-container.show {
    display: initial;
  }

  .filter-toggle {
      flex: 1;
      background-color: #6f757a;
      margin: 0 20px 0px 20px;
      padding: 5px;
      color: white;
      line-height: 30px;
      font-weight: bold;
      cursor: pointer;
  }

  .plusminus {
    font-weight: normal;
    display: none;
  }

  .plusminus.show {
    display: initial;
  }

  .separator {
    background-color: #6f757a;
  }

  .filter-section h3 {
    font-size: 15px;
    font-weight: bold;
  }

  .blog-filter .search-bar-container {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .search-container .filter-button-container {
    width: 20%;
  }

  .blog-filter .search-bar {
    border-style: solid;
    border-width: 2px;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
  }

  .search-container {
    flex-direction: column;
  }

  .blog-filter .search-icon {
    height: 15px;
    width: auto;
  }

  .blog-filter .search-input {
    border: none;
  }

  .filter-section .gsc-input {
    height: initial;
  }

  .blog-filter .gsc-search-button {
    display: none;
  }

  .button-container a {
    width: 100%;
  }

  .button-container .button {
    width: 98%;
  }
}
