/***/

/*Header*/

.hero {
    background-color: #615E9B;
}

.hero h1 {
  margin-bottom: 2px;
}

/***/

/*Content*/

.section-container {
    padding: 40px 40px 70px 40px;
}

.no-background {
  padding-left:60px;
}

.container a {
    color: #43B02A;
    font-weight: bold;
}

/***/

/*Tables & Rows*/

.row-link {
    flex: 1;
}

.row-link a {
    color: #43B02A;
    text-decoration: none;
    transition: 0.3s;
}

.row-link a:hover {
  color: #59CBE8;
}

.row-description {
    flex: 3;
    font-size: 15px;
}

/***/

/*Etc.*/

.list-note {
    background-color: #F7EA5F;
    height: 80px;
    margin: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    line-height: 30px;
}
