.hero {
    background-color: #0033a0;
}

img{
    object-fit: cover;
}

.meetups {
    background-color: #d4f3f9;
    margin: 10px 20px;
    padding: 30px;
}

.button-container.long-section-button {
    display: flex;
    justify-content: flex-end;
}

.article .metadata {
    flex: 1
}

.article .metadata p {
    width: 80%;
}

.article .metadata-filler {
    flex: 4;
}

.conference-with-photo {
    width: 100%;
    display: flex;
    height: 500px;
}

.conference-container {
    background-color: #c5e5ca;
    padding: 30px;
    margin-left: 20px;
    flex: 1;
}

.wide-photo-container {
    width: 60%;
    overflow: hidden;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    /*display: inline-block;*/
}

.photos {
    display: flex;
    flex-direction: column;
}

.collage-container {
    /* margin: 10px; */
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-auto-rows: 300px;
    grid-gap: 10px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.square-photo-container {
    /* margin-right: 10px; */
    position: relative;
    display: inline-grid;
}

.square-photo {
    width: 100%;
    height: 100%;
}

.tall-photo-container {
    max-height: 700px;
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    position: relative;
}

.tall-photo {
    height: 100%;
    width: 100%;

}

@media only screen and (max-width: 900px) {
    .conference-with-photo{
        flex-direction: column;
        height: unset;
        padding: 20px;
    box-sizing: border-box;
    }
    
    .conference-container{
        margin: unset;
    }

    .collage-container {
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: column;
    }
    
    .tall-photo-container {
        margin: 10px 0px;
        grid-column: 1/ end;
        grid-row: 3;
    }

    .wide-photo-container{
        width: 100%;
        height: 500px;
        /* padding: 20px;*/
        box-sizing: border-box; 
        margin: unset;
        padding: 20px 0px 0px 0px;
    }

    .wide-photo-container > img{
        width: 100%;
        height: 100%;
    }
}