footer {
    height: auto;
    background-color: #6F757A;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
}

.footer-section {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 40px 0px 50px 10px;
    /* width: 200px; */
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
}

.footer-section:first-child {
  margin-left: 50px;
    margin-top:0px;
}

.footer-section h3 {
  margin: 5px 0;
  font-size: 13px;
}

.footer-section ul {
    display: flex;
    flex-direction: column;
    margin-left: -40px;
}

.footer-section a {
    padding: 2px 2px 2px 0px;
    text-decoration: none;
    color: white;
}

.toggle-container {
    display: none;
}

footer .arrow-up {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;

    border-bottom: 5px solid white;

    margin: 5px;
}

footer .arrow-down {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;

    border-top: 5px solid white;

    margin: 8px 5px 5px 5px;
}

.social {
    color: #f4f442;
    display: flex;
    flex-direction: column;
    width: 400px;
    text-align: right;
    padding: 50px;
    /* margin-left: 200px; */
}

.social-icons {
    padding-top: 50px
}

.social-icon {
    height: 50px;
}

/* Mobile-only styles */
@media only screen and (max-width: 768px) {
    footer {
        /* display: block; */
        display: flex;
        flex-direction: column;
    }
    .nav-links {
        display: flex;
        flex-direction: column;
    }

    .footer-section:first-child {
        margin-left: 20px;
    }

    .footer-section {
        margin: 10px 20px;
        padding: 0px;
    }

    .toggle-container {
        display: block;
        margin: 20px;
        padding: 40px 20px 10px 0px;
        color: white;
        border-bottom-style: solid;
        border-bottom-color: #939BA1;
        cursor: pointer;
    }

    .nav-links {
        display: none;
    }

    .nav-links.show {
        display: block;
        border-bottom-style: solid;
        border-bottom-color: #939BA1;
        margin: 5px 20px 10px 20px;
    }

    .social {
        display: block;
        color: #ffbf3f;
        display: flex;
        flex-direction: column;
        width: 85%;
        text-align: right;
        margin: 0;
        padding: 0px 20px 20px 20px;
        text-align: left;
        font-size: 15px;
    }
}
