/***/

/*Header*/

.hero {
    background-color: #43B02A;
}

/***/

/*Content*/

.section-container {
    padding: 30px 0px 30px 40px;
    margin: 20px;
}

.section {
    border-left-style: solid;
    border-left-width: 8px;
    padding-left: 40px;
    padding-right: 250px;
}

.section.first {
    border-left-color: #43B02A;
}

.section.first h2 {
    color: #43B02A;
}

.section.second {
    border-left-color: #ef4b0a;
}

.section.second h2 {
    color: #ef4b0a;
}

.section.third {
    border-left-color: #59cbe8;
}

.section.third h2 {
    color: #59cbe8;
}

.section.fourth {
    border-left-color: #0033a0;
}

.section.fourth h2 {
    color: #0033a0;
}

/***/

/*Supporters*/

.selenium-sponsors.separator {
  border-bottom: 1px solid rgb(148, 156, 161);
  padding-bottom: 100px;
}
