{{ partial "header.html" . }}
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/main.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/getinvolved.css" />
<link href="https://fonts.googleapis.com/css?family=Encode+Sans" rel="stylesheet">

<body>
    <section class="hero">
        <h1>Getting Involved</h1>
        <div class="header-description">
            <p class="body-large">
                Selenium is certainly a team effort! There are several ways you can help out, whether you’re a programmer, designer, QA engineer,
                writer, project manager, or just willing to help. If you’re interested in helping, the best way to connect
                with us is at the Selenium Developers Group. We’ll work with you to get you set up to contribute.
            </p>
        </div>
    </section>

    {{ partial "selenium-supporters.html" . }}

    <div class="section-container dark-background">
        <h1>You can help by...</h1>

    </div>

    <div class="section-container dark-background">

        <div class="section first ">
            <h2>Answering Questions in the User Group</h2>

            <p>We get a lot of questions and we have a great community to help answer them. If you could register and log into
                the
                <a href="https://groups.google.com/forum/#!forum/selenium-users">user group</a> to answer a question or two, that would be great! There are often some very basic questions
                that are easy to answer.</p>

        </div>
    </div>

    <div class="section-container dark-background">
        <div class="section second ">
            <h2>Writing Documentation</h2>

            <p>For the most part, our documentation is held in source control for the main website. The main documentation is
                in plain text so use your favorite editor offline to edit the pages. The source for this main site is here
                and if you are familiar with Git you should be able to bring it down to your local system for offline editing.</p>
            <h4>Submitting Documentation “Bugs”</h4>
            <p>If you find an error in our documentation, either a “typo” or innaccurate information. Please let us know. You
                can submit these in our bug tracker.</p>
        </div>
    </div>

    <div class="section-container dark-background">
        <div class="section third ">
            <h2>Updating our Website</h2>

            <p>We have a lot of out-of-date information that needs to be tidied up on the site! Help by writing documentation,
                producing helpful diagrams, re-skinning the website, or organizing content.</p>

            <p>You can get started on working with the website by following the instructions on our
                <a href="https://github.com/SeleniumHQ/www.seleniumhq.org/wiki/Documentation">wiki</a>. </p>

            <p>Feel free to post questions on the
                <a href="groups.google.com/group/selenium-developers">Selenium Developers Group</a>.</p>
        </div>
    </div>

    <div class="section-container dark-background">
        <div class="section fourth ">
            <h2>Bug Reports and Feature Requests</h2>

            <p>If you run into a problem with Selenium, feel free to file a bug report about it on our
                <a href="https://github.com/SeleniumHQ/selenium/issues">Bug Tracker</a>. Similarly, if you have an idea for a feature you’d like to see in a future version, report
                that as well.</p>

            <p>Also, we would love help going through the bug reports and adding comments (which automatically get sent to the
                reporter) for cases where advice is all that is needed. </p>

            <p>Note:</p>

            <p>Although these templates help the clear structuring of an issue, please keep in mind that bugs have to be reproducible
                and feature / change requests have to be understandable!</p>
        </div>
    </div>

    <div class="section-container dark-background">
        <div class="section fifth ">
            <h2>Contributing Code to Selenium</h2>

            <p>Much of the magic behind Selenium is the hard work of programmers with backgrounds in Javascript, Java, Ruby,
                PHP, Python, Perl, C#, HTML and other languages.</p>

            <p>We encourage code patches and other contributions - get involved by following the
                <a href="https://github.com/SeleniumHQ/selenium/blob/master/CONTRIBUTING.md">contribution guidelines</a>. The Selenium project's source can be found at https://github.com/SeleniumHQ/selenium.</p>

            <p>
                <p>If you do supply a patch, we will need you to
                    <a href="https://spreadsheets.google.com/spreadsheet/viewform?hl=en_US&amp;formkey=dFFjXzBzM1VwekFlOWFWMjFFRjJMRFE6MQ#gid=0">sign the CLA</a>. We are a part of
                    <a href="http://www.sfconservancy.org/">Software Freedom Conservancy (SFC)</a>
                </p>
            </p>

        </div>
    </div>


    {{ partial "supporting-supporters.html" . }} {{ partial "support-selenium.html" . }}

</body>

{{ partial "footer.html" . }}