.hero {
    background-color: #ef4b0a;
}

.hero h1 {
  margin-bottom: 2px;
}

.metadata p {
  border-bottom: 1px solid rgb(148, 156, 161);
  padding-bottom: 50px;
}

.content h2 {
  color: #ffffff;
}

.sub-header {
    font-weight: 100;
}

.arrow-right {
    padding-left: 5px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;

    border-left: 6px solid green;
}

.article {
    /*background-color: lightblue;*/
    padding: 40px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.article .metadata {
    flex: 1
    /*width: auto;*/
}

.article .metadata p {
    width: 80%;
}

.article .metadata-filler {
    flex: 4;
}

.button-container.long-section-button {
    display: flex;
    justify-content: flex-end;
}

.article .link-section-filler {
    flex: 4
}

.history {
    background-color: #d4f3f9;
}

.ecosystem {
    background-color: #c5e5ca;
}

.involvements {
      width: 100%;
      display: flex;
}

.involvement h2 {
  color: #fff;
}

.involvement {
    background-color: black;
    margin: 0px 20px 20px 20px;
    padding: 0px 60px 60px 0px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.involvement.support {
    background-color: #43B02A;
    padding: 30px;
    margin-left: 20px;
    flex: 1;
}

.involvement.get-involved {
    background-color: #59CBE8;
    padding: 30px;
    margin-left: 20px;
    flex: 1;
}

.button.donate:hover {
  color:#43B02A;
  border-color: #43B02A;
}

/* Mobile-only styles */
@media only screen and (max-width: 900px) {
    .backers {
        flex-wrap: wrap;
    }

    .backer-logo {
        width: 30%;
        margin: 0px;
    }

    .hero h1 {
        font-size: 30px;
        letter-spacing: 20;
        line-height: 35px;
    }

    .body-large {
        font-size: 18px;
        font-family: "Helvetica";
        line-height: 20px;
        text-align: left;
        margin: 5px;
    }
}
