/***/

html {
    filter: grayscale(100%);
}

/*Hero Image Styles*/

.hero.homepage {
    background-color: black;
    /*background-image: url("/images/green-bg-opt.jpg");*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #fff;
    padding: 20px 20px;
    margin: 20px;
    text-align: center;
}

.hero h1 {
    margin-bottom: 0;
}

.sub-header h1 {
    font-weight: 100;
}

.header-description {
    padding-top: 25px;
}

/*Hero Image Styles: this adjusts
the text under the Hero Image*/

.body-large {
  margin: 0;
}

.body-large:last-child {
  margin-top: 5px;
  margin-bottom: 35px;
}

/***/

/*Getting Started Section*/

.getting-started {
    padding: 10px 10px 50px 10px;
    margin: 10px 20px 10px 20px ;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.getting-started h2 {
    width: 100%;
    margin: 40px 0;
}

.getting-started-logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.getting-started-logo {
    width: 50px;
    height: 50px;
}

.getting-started-topic-container {
    display: flex;
    justify-content: space-around;
}

.getting-started-topic {
    width: 25%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.getting-started .webdriver-header {
    color: #cf0a2c;
}

.getting-started .ide-header {
    color: #0033a0;
}

.getting-started .grid-header {
    color: #645d9c;
}

/*Getting Started Section: This
is the line that separates the content*/

.getting-started-topic:not(:last-child) {
  border-right: 1px solid rgb(148, 156, 161);
  padding-right: 70px;
}

/***/

/*News Section*/

.news {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.news-header {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color: #6F757A;
}

.news-item {
    display: flex;
    flex-direction: row;
}

.news-metadata {
    flex: 1;
    border-top: 1px;
    border-top-color: rgb(148, 156, 161);
    border-top-style: solid;
    margin: 10px 30px 30px 30px;
}

.news-metadata h4 {
  margin-bottom: 10px;
}

.news-metadata p {
  color: #6F757A;
}

.news-description {
    flex: 2;
    border-top: 1px;
    border-top-color: rgb(148, 156, 161);
    border-top-style: solid;
    margin: 10px 30px 30px 30px;
    padding: 10px;
}

.news-description a {
    display: block;
    width: 100px;
    text-decoration: none;
}

/***/

/*Buttons Specific to Homepage*/

.download-button-container {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-button-container a {
    text-decoration: none;
}

.download-button {
    background-color: #f7f8f8;
    font-family: "Encode Sans", sans-serif;
    height: 50px;
    width: 200px;
    weight: 400;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-button.webdriver {
    color: #cf0a2c;
    border-color: #cf0a2c;
    transition: 0.3s;
}

.download-button.webdriver:hover {
    color: #fff;
    background-color: #cf0a2c;
}

.download-button.ide {
    color: #0033a0;
    border-color: #0033a0;
    transition: 0.3s;
}

.download-button.ide:hover {
    color: #fff;
    background-color: #0033a0;
}

.download-button.grid {
    color: #645d9c;
    border-color: #645d9c;
    transition: 0.3s;
}

.download-button.grid:hover {
    color: #fff;
    background-color: #645d9c;
}

.button-container.green {
    display: flex;
    justify-content: flex-end;
    padding-right: 0;
    margin-bottom: 75px;
}

.button.green {
    margin-right: 60px;
    transition: 0.3s;
}

.button.green:hover {
    color: #fff;
    background-color: #43B02A;
}

.button-container.read-more-button {
    padding: 20px;
    justify-content: flex-end;
    width: 95%;
}

/* Mobile-only styles */
@media only screen and (max-width: 900px) {
  /* Intro Section */
    .hero.homepage {
      text-align: left;
    }

    .hero h1 {
        font-size: 30px;
        letter-spacing: 20;
    }

    .body-large {
        font-size: 18px;
        font-family: "Encode Sans";
        line-height: 30px;
        text-align: left;
        margin: 5px;
    }

    p {
        line-height: 2;
    }

    /* Product Options */
    .getting-started {
        flex-direction: column;
        text-align: left;
    }

    .getting-started-topic-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .webdriver-header, .ide-header, .grid-header {
        margin-bottom: 0px;
    }

    .getting-started-logo-container {
      justify-content: left;
    }

    section.getting-started.dark-background {
      padding: 20px;
    }

    .getting-started-topic {
        width: 100%;
    }

    .getting-started-topic:not(:last-child) {
      border-right: none;
      padding-right: 0;
      border-bottom: 1px solid rgb(148, 156, 161);
      margin-bottom: 50px;
  }

  /*News Section*/
  .news-item {
      flex-direction: column;
  }

  .news-metadata {
      padding-bottom: 0px;
      margin-bottom: 0px;
  }

  .news-description {
      border-top: none;
      padding-top: 0px;
      margin-top: 0px;
  }

  /*Button Styling*/

  .download-button {
    width: 70vw;
  }

  .download-button-container {
    padding-bottom: 20px;
  }

  .button-container.read-more-button {
    padding: 20px;
    justify-content: center;
    width: 95%;
  }

  .news-header {
    padding-left: 20px;
    justify-content: left;
  }

  .news-metadata, .news-description {
    margin: 10px 20px 0px 20px;
  }

  .news-description {
    padding: 0;
  }

  .read-more {
    margin-bottom: 30px;
  }

  .button-container.green {
    padding-right: 0;
  }

}
