/***/

/*Navigation*/

nav {
    display: flex;
    float: right;
    flex-wrap: wrap;
}

/***/

/*Fonts*/

body {
    font-family: "Open Sans", sans-serif;
    color: #6F757A;
    margin: 10px;
    font-size: 15px;
    line-height: 25px;
}

.body-large {
    font-size: 18px;
    line-height: 25px;
}

h1 {
  font-family: "Encode Sans", sans-serif;
  line-height: 56px;
  font-size: 44px;
  font-weight: 800;
}

h2 {
  font-family: "Encode Sans", sans-serif;
  font-size: 32px;
  color: #6F757A;
  font-weight: 100;
  line-height: 40px;
}

h3 {
  font-family: 'Encode Sans Condensed', sans-serif;
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
}

h4 {
  font-family: 'Encode Sans Condensed', sans-serif;
  font-size: 20px;
  font-weight: 800;
  color: #6F757A;
}

/***/

/*Header*/

.hero {
    color: #fff;
    text-align: left;
    padding: 30px 40px;
    margin: 20px;
}

h1.sub-header {
    margin-top: 5px;
    font-weight: 100;
}

/***/

/*Content*/

.container {
    margin: 20px;
    padding: 30px 50px;
}

.dark-background {
    background-color: #f7f8f8;
    margin: 20px;
}

/***/

/*Supporters*/

.selenium-sponsors {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 75px;
}

.selenium-sponsors h2 {
    color: #43B02A;
    padding: 50px 20px 50px 0px;
    margin: 0;
}

.sponsors {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.sponsor-logo {
      width: 20%;
      overflow: hidden;
      padding: 10px;
      display: flex;
      align-items: center;
}

.sponsor-logo img {
    width: 100%;
}

.selenium-sponsors-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selenium-sponsors-bottom h2 {
    color: #43B02A;
    padding: 30px;
}

.sponsors-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.sponsor-logo-bottom {
    width: 15%;
    overflow: hidden;
    padding: 10px;
    display: flex;
    align-items: center;
}

.sponsor-logo-bottom img {
    width: 100%;
}

.support-selenium-container {
    height: 250px;
    background-color: #59CBE8;
    margin: 20px;
    padding: 60px;
    justify-content: center;
    align-items: center;
}

.support-selenium-container.blog-link-container {
    background-color: #43B02A;
    height: 220px;
    padding: 30px;
}

.support-selenium {
    text-align: center;
    color: white;
    padding-top: 20px;
}

.support-selenium h2 {
  color: white;
}

/*Donate*/
.donate-selenium-container {
    height: 200px;
    background-color: rgb(0, 51, 160);
    margin: 20px;
    padding: 60px;
    justify-content: center;
    align-items: center;
}

.donate-selenium-container.blog-link-container {
    background-color: #43B02A;
    height: 200px;
    padding: 30px;
}

.donate-selenium {
    text-align: center;
    color: white;
    padding-top: 10px;
}

.donate-selenium h2 {
  color: white;
}
.donate-selenium h3 {
    color: white;
  }

/***/

/*Buttons*/

.button-container {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    color: white;
    height: 50px;
    width: 200px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.button:hover {
  color: #59CBE8;
  background-color: #fff;
}

.button-container a {
    text-decoration: none;
}

.button.green {
    border-color: #43B02A;
    color: #43B02A;
    font-family: "Encode Sans", sans-serif;
}

.hide {
    display: none;
}

.read-more {
    display: flex;
    color: #43B02A;
    font-weight: bold;
    width: 93px;
    border-bottom: 2px solid;
    transition: 0.3s;
}

.read-more:hover {
    color: #59CBE8;
}

.read-more:hover .arrow-right {
    border-left: 6px solid #59CBE8;
}

.read-more span {
    padding-right: 5px;
}

.arrow-right {
    padding-left: 5px;
    margin-top: 4px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;

    /*border-left: 6px solid green;*/
    border-left: 6px solid green;
}

/***/

/*Tables & Rows*/

.table {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.row {
    display: flex;
}

.row-component {
    border-bottom: 1px solid rgb(148, 156, 161);
    margin-right: 25px;
    padding: 10px 10px 10px 0px;
}

.row .label {
    color: #0033a0;
    font-weight: bold;
}

/***/

/*Etc.*/

.warning {
    background-color: #F7EA5F;
    display: flex;
}

.warning.red {
    color: #cf0a2c;
}

.warning-exclamation {
    display: inline-block;
    padding: 20px;
    font-size: 50px;
    font-weight: bold;
    color: #cf0a2c;
}

/* Mobile-only styles */
@media only screen and (max-width: 900px) {
    .logo {
        max-width: 40px;
    }

    .hero {
        color: #fff;
        text-align: left;
        padding: 30px 30px;
        margin: 20px;
    }

    .hero h1 {
        font-size: 30px;
    }

    .sponsors, .sponsors-bottom {
        flex-flow: row wrap;
        margin-bottom: 30px;
    }

    .sponsor-logo, .sponsor-logo-bottom {
        width: 40%;
        margin: 0px;
    }

    .support-selenium-container {
      height: 100%;
      text-align: left;
      padding: 20px;
    }

    .support-selenium {
      text-align: left;
    }

    .support-selenium h1 {
      font-size: 24px;
      text-align: left;
      font-weight: 800;
    }

    .support-selenium p {
    font-size: 15px;
    }

    .involvements {
      flex-direction: column;
    }
}
