/***/

/*Header*/

.hero {
    background-color: #59CBE8;
}

.hero h1 {
  margin-bottom: 2px;
}

/***/

/*Content*/

pre {
    background-color: rgb(200, 16, 46, 0.2);
    padding: 20px;
    opacity: 0.8;
    margin: 20px;
}

/***/

/*Supporters*/

.container.separator {
  border-bottom: 1px solid rgb(148, 156, 161, 0.45);
  padding-bottom: 50px;
}

.backers {
  margin: 0 20px;
  border-bottom: 1px solid rgb(148, 156, 161, 0.45);
  padding-bottom: 100px;
}

/***/

/*Etc*/

.maven-diagram-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.maven-diagram-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1;
}

.maven-diagram-section p {
    flex: 2;
    width: 60%;
}

.maven-diagram {
    width: 200px;
    height: 200px;
}

.warning.red strong {
    padding-top: 20px;
}
