/***/

/*Header*/

.hero {
    background-color: #ef4b0a;
}

.hero h1 {
    margin-bottom: 2px;
}

/***/

/*Content*/

.section {
    margin: 20px;
    padding: 40px;
}

.section a {
    color: #43B02A;
    font-weight: bold;
    transition: 0.3s;
}

.section a:hover {
    color: #59CBE8;
}

.button.blog:hover {
    color: #43B02A;
    border-color: #43B02A;
}

.backers {
    flex-wrap: wrap;
}
