{{ partial "header.html" . }}
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/main.css"/>
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/events.css"/>
<link href="https://fonts.googleapis.com/css?family=Encode+Sans" rel="stylesheet">

<body>
<section class="hero">
    <h1>Events</h1>
</section>

{{ partial "selenium-supporters.html" . }}

<div class="article meetups">
    <div class="metadata">
        <h2>Selenium Meetups</h2>
        <p>Find out what's happening in Selenium Meetup groups around the world and start meeting up with the ones near you.</p>
    </div>
    <div class="button-container long-section-button">
        <a href="https://www.meetup.com/topics/selenium/">
            <div class="button green"><b>GO TO MEETUPS</b></div>
        </a>
    </div>
</div>

<div class="conference-with-photo">
    <div class="conference-container">
        <h2>Selenium Conference</h2>
        <p>The next flagship Selenium conference will be held in London, UK. The SeConf brings together Selenium developers & enthusiasts from around the world to share ideas, socialize, and work together on advancing the present and future success of the project.</p>
        <div class="button-container long-section-button">
            <a href="https://www.seleniumconf.com/">
                <div class="button green"><b>LEARN MORE</b></div>
            </a>
        </div>
    </div>
    <div class="wide-photo-container">
        <img class="wide-photo" src="{{ .Site.BaseURL }}/images/events/wide.png"/>
    </div>
</div>
<div class="collage-container">
        <div class="square-photo-container">
            <img class="square-photo" src="{{ .Site.BaseURL }}/images/events/square1.png"/>
        </div>
        <div class="square-photo-container">
            <img class="square-photo" src="{{ .Site.BaseURL }}/images/events/square2.png"/>
        </div>
        <div class="square-photo-container">
            <img class="square-photo" src="{{ .Site.BaseURL }}/images/events/square3.png"/>
        </div>
        <div class="square-photo-container">
            <img class="square-photo" src="{{ .Site.BaseURL }}/images/events/square4.png"/>
        </div>
        <div class="tall-photo-container">
            <img class="tall-photo" src="{{ .Site.BaseURL }}/images/events/tall.png"/>
        </div>
</div>

{{ partial "supporting-supporters.html" . }}

{{ partial "support-selenium.html" . }}

</body>

{{ partial "footer.html" . }}
