/***/

/*Header*/

.hero {
    background-color: #008080;
}

.hero h1 {
  margin-bottom: 2px;
}

/*Content*/

.section-container {
    padding: 30px 0px 30px 40px;
    margin: 20px;
}

.section {
    border-left-style: solid;
    border-left-width: 8px;
    padding-left: 40px;
    padding-right: 250px;
}
.section.first {
    border-left-color: #008080;
}
.section.first h2 {
    color: #008080;
}

.section.second {
    border-left-color: #ef4b0a;
}

.section.second h2 {
    color: #ef4b0a;
}

.section.second h4 {
    color: #f08e67;
}

.section.third {
    border-left-color: #59cbe8;
}

.section.third h2 {
    color: #59cbe8;
}

.section.fourth {
    border-left-color: #0033a0;
}

.section.fourth h2 {
    color: #0033a0;
}

.section.fifth {
    border-left-color: #615E9B;
}

.section.fifth h2 {
    color: #615E9B;
}