/***/

/*Navigation*/

.hero {
    background-color: #615E9B;
}

.hero h1 {
  margin-bottom: 2px;
}

.intro p {
  padding-bottom: 30px;
}

/***/

/*Content*/

.product-container {
    margin: 20px;
    padding: 40px;
}

.product-container {
    border-left-style: solid;
    border-left-width: 5px;
}

.product-container.webdriver {
    border-left-color: #cf0a2c;
}

.product-container.webdriver h2 {
    color: #cf0a2c;
}

.product-container.webdriver b {
    color: #cf0a2c;
}

.product-container.grid {
    border-left-color: #645d9c;
}

.product-container.grid h2 {
    color: #645d9c;
}

.product-container.grid b {
    color: #645d9c;
}

.product-container.ide {
    border-left-color: #0033a0;
}

.product-container.ide h2 {
    color: #0033a0;
}

.product-container.ide b {
    color: #0033a0;
}

.product-container.remoteControl {
    border-left-color: #ef4b0a;
}

.product-container.remoteControl h2 {
    color: #ef4b0a;
}

.product-container.remoteControl b {
    color: #ef4b0a;
}

.product-logo-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.product-logo {
    width: 50px;
    height: 50px;
}

.intro {
    border-bottom: 1px solid rgb(148, 156, 161, 0.45);
}

.toggle-section {
    padding-top: 20px;
}

.toggle-button {
    cursor: pointer;
}

.button.blog:hover {
  color: #43B02A;
  border-color: #43B02A;
}

.hide {
    display: none;
}
