/***/

/*Header*/

.hero {
    background-color: #72726e;
}

.hero h1 {
  margin-bottom: 2px;
}

/*Content*/
.body-large:first-parent {
  padding-bottom: 5px;
}

.section-container {
    padding: 30px 30px 30px 40px;
    margin: 20px;
}

.section.first h2 {
    color: #72726e;
}


.section.second h2 {
    color: #72726e;
}

.section.second h4 {
    color: #72726e;
}


.section.third h2 {
    color: #72726e;
}


.section.fourth h2 {
    color: #72726e;
}

.section.fifth h2 {
    color: #72726e;
}

.section.sixth h2 {
    color: #72726e;
}

.section a {
  color: #43B02A;
  font-weight: bold;
  transition: 0.3s;
}

.section a:hover {
  color: #59CBE8;
}
