
.selenium-badge-version {
  background:green;
  color:white;
  padding:.2rem;
  font-weight:750;
}

.selenium-badge-browser {
  background:blue;
  color:white;
  padding:.2rem;
  font-weight:750;
}

.selenium-badge-code {
  background:red;
  color:white;
  padding:.2rem;
  font-weight:750;
}


