@import "variables_project";
@import "../../themes/docsy/assets/scss/main.scss";
@import "alerts";
@import "backgrounds";
@import "badges";
@import "buttons";
@import "colors";
@import "images";
@import "links";
@import "logo";
@import "screen";
@import "tabs";
